<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="<%= url('/stylesheets/style.css') %>"/>
    <title>Dota 2 performance checker</title>
  </head>
  <body>
    <header>
      <h1>Humble dota app</h1>
    </header>
    <section>
      <%= yield %>    </section>
    <footer>
    </footer>
  </body>
</html>

